body {
  background: black;
}

div[class*='assistant-successLens'] * {
  color: white;
}

div[class^='assistant-successLens'] * {
  color: white;
}

div[class*='editorContent'] * {
  background: none;
  color: white;
}

div[class*='lensviewContentWrapper'] * {
  background: none;
  color: white;
}

div[class*='assistant-successLens'] {
  background: none;
}

div[class*='toolbar'] *
{
  background: none;
}

div[class*='assistant-sidebarWrapper'] *
{
  background: none;
  color: white;
}

/* Blue text highlight */
@keyframes fbb6yts {
 to {
  background-color: rgb(219,235,255,0.2)
 }
}
/* Red text highlight */
@keyframes f4cpmj7 {
 to {
  background-color:rgba(255,219,227,0.2)
 }
}

.fullCard {
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-radius: calc(0.5px * var(--rem));
}

div[class*='miniCard']:hover 
{
  background: none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-radius: calc(0.5px * var(--rem));
}

div[class*='navigation-outcome']:not([data-disabled=true])[data-active=true],
div[class*='navigation-outcome']:not([data-disabled=true])[data-hovered=true]
{
  background: rgba(255,255,255,0.1) !important;
}
