/* Hide all app links and contacts menu link in the top menu except for
Calendar */
#appmenu li:not([data-id="calendar"]), #contactsmenu {display: none;}

/* Change the cursor to default for top menu Nextcloud home, Calendar and
settings links and disable them */
#nextcloud, #appmenu li[data-id="calendar"] a, #settings {
    cursor:default; pointer-events: none;
}

/* Hide "More" link in the top menu */
#more-apps {display: none !important;}

/* Hide notifications that are not related to calendar */
.notifications .notification-wrapper .notification:not([object_type="dav"]) {
    display: none;
}

/* Hide "Dismiss all notifications" as this action will dismiss also hidden
notifications */
.notification-wrapper .dismiss-all {display: none;}
