{
  "parser": "babel-eslint",
  "rules": {
    "consistent-return": 0,
    "no-param-reassign": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "linebreak-style": 0,
    "prefer-destructuring": 1,
    "no-underscore-dangle": 0,
    "max-len": 0,
    "class-methods-use-this": 0,
    "no-console": 0,
    "no-restricted-syntax": [0, "ForInStatement"]
  },
  "globals": {
    "window": true,
    "document": true,
    "ENV": true
  }
}
