/* Hide all app links in the top menu except for Talk */
#appmenu li:not([data-id="spreed"]) {
  display: none;
}

/* Change cursor to the default pointer for top menu Nextcloud home and Talk
links and disable them */
#nextcloud,
#appmenu li[data-id="spreed"] a {
  cursor: default;
  pointer-events: none;
}

/* Hide all settings options, except the option to log out */
#settings #expanddiv li:not([data-id='logout']) {
  display: none;
}

/* Fix the margin of the dropdown */
#settings #expanddiv,
#settings #expanddiv > ul {
  min-height: 0;
}

/* Hide "More" link in the top menu */
#more-apps {
  display: none !important;
}

/* Hide notifications that are not related to Talk */
.notifications .notification-wrapper .notification {
  display: none;
}
.notifications .notification-wrapper .notification[object_type="chat"],
.notifications .notification-wrapper .notification[object_type="room"]  {
  display: initial;
}

/* Hide "Dismiss all notifications" as this action will dismiss also hidden
notifications */
.notification-wrapper .dismiss-all {
  display: none;
}
