.app-wrapper-web .app,
.app-wrapper-web .two,
.app-wrapper-web .three,
.app-wrapper-web .h70RQ
{
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
}

._1Wk6A ._3YewW._31v_P._2Ptrm {
  display: none;
}

/* fix for blank spaces regarding view width on screens larger than 1080p */
.app-wrapper-web ._1XkO3 {
  max-width: none !important;
}