#react-root>section>.t30g8.L1C6I,
#react-root>section>div:first-child {
    padding-top: 0;
}

#react-root>section .Hz2_lz6s.Hz2lFlF,
#react-root>section>div:first-child>div:first-child {
    display: none;
}

#react-root>section .i0EQd {
    max-width: unset !important;
}
