.app-wrapper-web .app,
.app-wrapper-web ._36Q2N,
.app-wrapper-web .h70RQ,
.app-wrapper-web ._3QfZd,
.app-wrapper-web ._1jJ70,
._1XkO3.two {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    top: 0 !important;
}

._1Wk6A ._3YewW._31v_P._2Ptrm {
  display: none;
}
