name: Node CI

on: 
  schedule:
    - cron: 0 0 * * 0

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, and update
      run: |
        cd scripts
        npm install
        npm run update
      env:
        CI: true
